aiohappyeyeballs  
aiohttp  
aiosignal  
annotated-types  
anyio  
asgiref  
attrs  
certifi  
charset-normalizer  
click  
dataclasses-json  
distro  
Django  
django-cors-headers  
djangorestframework  
dnspython  
fastapi  
frozenlist  
h11  
httpcore  
httpx  
httpx-sse  
idna  
jiter  
jsonpatch  
jsonpointer  
langchain  
langchain-community  
langchain-core  
langchain-openai  
langchain-text-splitters  
langsmith  
loguru  
marshmallow  
multidict  
mypy-extensions  
neo4j  
numpy  
openai  
orjson  
packaging  
pinecone  
pinecone-client  
pinecone-plugin-interface  
propcache  
pydantic  
pydantic-settings  
pydantic_core  
PyPDF2  
python-dateutil  
python-dotenv  
pytz  
PyYAML  
regex  
requests  
requests-toolbelt  
six  
sniffio  
SQLAlchemy  
sqlparse  
starlette  
tenacity  
tiktoken  
tqdm  
typing-inspect  
typing-inspection  
typing_extensions  
urllib3  
uvicorn  
yarl  
zstandard  
